<div class="kids-template">
  <%= render "sections/hero", section: @website.section_named("hero") || nil %>
  <div class="container">
    <%= render "sections/bio", section: @website.section_named("bio") || nil %>
    <%= render "sections/catchy", section: @website.section_named("catchy") || nil %>
    <%= render "sections/calendar", section: @website.section_named("calendar") || nil %>
    <%= render "sections/pricing", section: @website.section_named("pricing") || nil %>
    <%= render "sections/contact", section: @website.section_named("contact") || nil %>
  </div>
</div>
