<div class="row col-12 col-md-12">
  <div class="container px-3 col-md-4 d-flex flex-column justify-content-start" data-controller="addsection">

    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Please Select a Section</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body text-center">
            <a href="#" data-action="click->addsection#addHero" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Hero Section</a>
            <a href="#" data-action="click->addsection#addBio" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Bio Section</a>
            <hr>
            <a href="#" data-action="click->addsection#addCatchy" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Catchy Section</a>
            <a href="#" data-action="click->addsection#addPricing" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Pricing Section</a>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="accordion">
    <%# first card   %> 
        <div class="card-form <%= 'is-hidden' if @section_hero.id.nil? %> " data-addsection-target="card_hero" data-name="hero">
          <div class="card-header d-flex justify-content-between" id="headingHero">
          <h4 class="font-weight-bold m-0"><%= @section_hero.name.capitalize %></h4>
          <p class="collapsed" data-toggle="collapse" data-target=".collapseHero" aria-expanded="false" aria-controls="collapseHero"></p>
          </div>  
          <div class="collapseHero collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_hero, website: @website %>
            </div>
          </div>
        </div>

    <%# second card %>
        <div class="card-form <%= 'is-hidden' if @section_bio.id.nil? %>" data-addsection-target="card_bio" data-name="bio">
          <div class="card-header d-flex justify-content-between" id="headingBio">
            <h4 class="font-weight-bold m-0"><%= @section_bio.name.capitalize %></h4>
            <p class="collapsed" data-toggle="collapse" data-target=".collapseBio" aria-expanded="false" aria-controls="collapseBio"></p>
          </div>  
          <div class="collapseBio collapse" aria-labelledby="headingBio" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_bio, website: @website %>
            </div>
          </div>
        </div>

    <%# third card   %>
        <div class="card-form <%= 'is-hidden' if @section_catchy.id.nil? %>" data-addsection-target="card_catchy" data-name="catchy">
          <div class="card-header d-flex justify-content-between" id="headingCatchy">
            <h4 class="font-weight-bold m-0"><%= @section_catchy.name.capitalize %></h4>
            <p class="collapsed" data-toggle="collapse" data-target=".collapseCatchy" aria-expanded="false" aria-controls="collapseCatchy"></p>
          </div>  
          <div class="collapseCatchy collapse" aria-labelledby="headingCatchy" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_catchy, website: @website %>
            </div>
          </div>
        </div>

    <%# fourth card %>
      <div class="card-form <%= 'is-hidden' if @section_pricing.id.nil? %>" data-addsection-target="card_pricing" data-name="pricing">
        <div class="card-header d-flex justify-content-between" id="headingPricing">
          <h4 class="font-weight-bold m-0"><%= @section_pricing.name.capitalize %></h4>
          <p class="collapsed" data-toggle="collapse" data-target=".collapsePricing" aria-expanded="false" aria-controls="collapsePricing"></p>
        </div>
        <div class="collapsePricing collapse" aria-labelledby="headingPricing" data-parent="#accordion">
          <div class="card-body">
            <%= render "sections/form_pricing", section: @section_pricing, website: @website %>

          </div>
        </div>
      </div>
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn-form mt-0" data-toggle="modal" data-target="#exampleModal">
      Add New Section
    </button>
  </div>
  <div class="container col-12 col-md-8 mr-0">
     <div class="col">
      <div>
        <%= render "websites/preview" %>
      </div>
    </div>
  </div>
</div>