<div class="row col-12 col-md-12">
  <div class="container px-3 col-md-4 d-flex flex-column justify-content-start" data-controller="addsection">

    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Please Select a Section</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body text-center">
            <a href="#" data-action="click->addsection#addHero" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Hero Section</a>
            <a href="#" data-action="click->addsection#addBio" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Bio Section</a>
            <hr>
            <a href="#" data-action="click->addsection#addCatchy" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Catchy Section</a>
            <a href="#" data-action="click->addsection#addPricing" role="button" class="btn btn-warning popover-test m-2" title="Popover title" data-content="Popover body content is set in this attribute.">Pricing Section</a>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="accordion">
    <%# first card   %> 
        <div class="card w-100 <%= 'is-hidden' if @section_hero.id.nil? %> " data-addsection-target="card_hero" data-name="hero">
          <div class="card-header" id="headingOne">
            <h4 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h4>Hero</h4>
              </button>
            </h4>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_hero, website: @website %>
            </div>
          </div>
        </div>

    <%# second card %>
        <div class="card-form is-hidden" data-addsection-target="card_bio" data-name="bio">
          <div class="card-header d-flex justify-content-between" id="headingTwo">
          <h4 class="font-weight-bold m-0">Bio</h4>
          <p class="collapsed" data-toggle="collapse" data-target=".collapseBio" aria-expanded="false" aria-controls="collapseBio"></p>
          </div>  
          <div class="collapseBio collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_bio, website: @website %>
            </div>
          </div>
        </div>

    <%# third card   %>
        <div class="card is-hidden" data-addsection-target="card_catchy" data-name="catchy">
          <div class="card-header" id="headingThree">
            <h4 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4>Info about you</h4>
              </button>
            </h4>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <%= render "sections/base_form", section: @section_catchy, website: @website %>
            </div>
          </div>
        </div>

    <%# fourth card %>
      <div class="card is-hidden" data-addsection-target="card_pricing" data-name="pricing">
        <div class="card-header" id="headingFour">
          <h4 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h4>Pricing Info</h4>
            </button>
          </h4>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <%= render "sections/form_pricing", section: @section_pricing, website: @website %>

          </div>
        </div>
      </div>
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn-form mt-0" data-toggle="modal" data-target="#exampleModal">
      Add New Section
    </button>
  </div>
  <div class="container col-12 col-md-8 mr-0">
     <div class="col">
      <div>
        <%= render "websites/preview" %>
      </div>
    </div>
  </div>
</div>