<div class="row col-12 col-md-12">
  <div class="container px-3 col-md-4 d-flex flex-column justify-content-start" data-controller="addsection">
    
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% section_details = {
                hero: { icon: 'fas fa-award', desc: 'Make a great first impression with your value proposition.' },
                bio: { icon: 'fas fa-user-graduate', desc: 'Let us know something about you.' },
                catchy: { icon: 'fas fa-bell', desc: 'Show off your main achiviements.' },
                pricing: { icon: 'fas fa-money-bill', desc: 'Ask for the value you give.' },
                calendar: { icon: 'fas fa-calendar-alt', desc: 'Tell us where you are available.' }
               }               
            %>
            <% SECTION_CONFIG.keys.each do |section_name| %>            
              <div class="d-flex flex-column card-modal" data-action="click->addsection#add<%= section_name.capitalize %>" role="button">
                <div class="d-flex align-items-center">
                  <i class="<%= section_details[section_name][:icon] %>"></i>
                  <h4 class="mb-0 ml-3"><%= section_name.capitalize %></h4>
                </div>
                <div><p><%= section_details[section_name][:desc] %></p></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div id="accordion">    
      <% SECTION_CONFIG.keys.each do |section_name| %>
        <% current_section = @sections_map[section_name]%>

          <div class="card-form <%= 'is-hidden' if current_section.id.nil? %> " data-addsection-target="card_<%= section_name %>" data-name="<%= section_name %>">
            <div class="card-header d-flex justify-content-between">
              <h4 class="font-weight-bold m-0"><%= current_section.name.capitalize %></h4>
              <p class="collapsed" data-toggle="collapse" data-target=".collapse_<%= section_name %>" aria-expanded="false" aria-controls="collapseHero"></p>
            </div>  
            <div class="collapse_<%= section_name %> collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <% if section_name.to_s == 'pricing' %>
                  <%= render "sections/form_pricing", section: current_section, website: @website %>
                <% else %>
                  <%= render "sections/base_form", section: current_section, website: @website %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    
    
    <!-- Button trigger modal -->
      <button type="button" class="btn-form mt-0" data-toggle="modal" data-target="#exampleModal">
        + Add Content
      </button>
      </div>
  </div>
  <div class="container col-12 col-md-8 mr-0">
     <div class="col">
      <div>
        <%= render "websites/preview" %>
      </div>
    </div>
  </div>
</div>