<div data-controller="preview">
  <%= simple_form_for [website, section] do |m| %>
    <%= m.simple_fields_for :elements do |p| %>
      <%= p.input :name, as: :hidden, input_html: { value: section.elements[p.index].name } %>
      <%= p.input :category, as: :hidden, input_html: { value: section.elements[p.index].category } %>
      <% if section.elements[p.index].category == "img" %>
        <div class="d-flex justify-content-between" data-controller="upload">
          <%= p.input :photo, as: :file, input_html: { class: 'hidden', id: 'photo-input', data: {action: 'change->preview#getImageUrl', 'input-type': 'image', "preview-target": "data-preview-#{section.elements[p.index].name.downcase}"} }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview", data: {target: 'upload.image'} %>
        </div>
      <% else %>
        <%= p.input :value, label: section.elements[p.index].name, 
          input_html: {data: {"preview-target": "data-preview-#{section.elements[p.index].name.downcase}", action: "input->preview#updatePreview"}} %>
      <% end %>
    <% end %>
    <%= m.input :name, as: :hidden, input_html: {value: section.name} %>
    <%= m.button :submit, class: 'btn-form' %>
  <% end %>
</div>
