<div class="container mb-3">
  <h1>Contact section</h1>

  <a href="<%= section.elements.find_by(name: 'Email').value %>"><%= section.elements.find_by(name: 'Email').value %></a>
  <p><%= section.elements.find_by(name: "Phone Number").value %></p>
  <a href="<%= section.elements.find_by(name: 'Facebook').value %>"><%= section.elements.find_by(name: 'Facebook').value %></a>
  <a href="<%= section.elements.find_by(name: 'Instagram').value %>"><%= section.elements.find_by(name: 'Instagram').value %></a>
  <a href="<%= section.elements.find_by(name: 'Twitter').value %>"><%= section.elements.find_by(name: 'Twitter').value %></a>
  <a href="<%= section.elements.find_by(name: 'Whatsapp').value %>"><%= section.elements.find_by(name: 'Whatsapp').value %></a>
</div>

