<%= form_tag section.id.nil? ? website_sections_path(website) : website_section_path(website, section), method: section.id.nil? ? :post : :patch, data: {controller: 'preview'} do %>
  <%= hidden_field_tag "section[name]", 'pricing' %>
  <% section.elements.each_with_index do |el, i| %>

    <%= hidden_field_tag "section[elements_attributes][#{i}][name]", el.name %>
    <%= hidden_field_tag "section[elements_attributes][#{i}][category]", el.category %>
    <%= hidden_field_tag "section[elements_attributes][#{i}][label]", el.label %>
    <div class="form-group">
      
      <% if el.category == "product" %>
        <%= label_tag 'Service name / online price / offline price' %>

        <div class="d-flex">    
          <%= text_field_tag "section[elements_attributes][#{i}][value][type]", eval(el.value || '{}')['type'], class: 'form-control', data: {"preview-target": "data-preview-product#{i - 1}-type", action: "input->preview#updatePreview" }%>

          <%# i - 2 to reference the correct product element PLEASE CHANGE THIS SOONER RATHER THAN LATER %>
          <%= text_field_tag "section[elements_attributes][#{i}][value][online_price]", eval(el.value || '{}')['online_price'], class: 'form-control', placeholder: 'online', data: {"preview-target": "data-preview-product#{i - 1}-online-price", action: "input->preview#updatePreview" } %>
          <%= number_field_tag "section[elements_attributes][#{i}][value][offline_price]", eval(el.value || '{}')['offline_price'], class: 'form-control', placeholder: 'offline', data: {"preview-target": "data-preview-product#{i - 1}-offline-price", action: "input->preview#updatePreview" } %>
        </div>
      <% else %>
        <%= label_tag el.label %>
        <% if el.category.to_sym == :list %>
          <%= text_area_tag "section[elements_attributes][#{i}][value]", el.value, class: 'form-control', data: {"input-type": el.category, "preview-target": "data-preview-#{el.name}", action: "input->preview#updatePreview" } %>
        <% else %>
          <%= text_field_tag "section[elements_attributes][#{i}][value]", el.value, class: 'form-control', data: {"input-type": el.category, "preview-target": "data-preview-#{el.name}", action: "input->preview#updatePreview" } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= submit_tag 'Save section', class: 'btn-form' %>
<% end %>
