<div class="container">
  <h1><%= section.elements.find_by(category: :h1).value %></h1>
  <p>
  <h1></h1> 

  
        
    <table>
      <tr>
        <th></th>
        <th>Online</th>
        <th>Offline</th>
      </tr>
      <% section.elements.where(category: :product).each do |el| %>
      <tr>
        <td><%= eval(el.value)[:type] %></td>
        <td><%= eval(el.value)[:online_price] %></td>
        <td><%= eval(el.value)[:offline_price] %></td>
      </tr>
      <% end %>
    </table> 
  </p>
  <h5><strong><%= section.elements.find_by(category: :h2).value %></strong></h5>
  <p><strong><%= section.elements.find_by(category: :p).value %></strong></p>
</div>
