<!-- Pricing top div -->

<div class="pricing-top d-flex flex-column justify-content-center text-center pt-5 <%= 'is-hidden' if @section_pricing&.id.nil? %>" id="preview_pricing">
  <h2>Pricing</h2>
  <h3 data-preview-teaser><%= Section.get_content_of(section, "pricing", "teaser") %></h3>
</div>

<!-- Product cards div -->
<div class="product-cards d-flex <%= 'is-hidden' if @section_pricing&.id.nil? %>">

<!-- First product div -->
  <div class="product-card text-center">
    <h4 data-preview-productone><%= Section.get_content_of(section, "pricing", "productone")%></h4>
      <div class="product-pricing d-flex justify-content-center">
          <div class="hubbly-small-left d-flex justify-content-center">
            <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
              <p data-preview-productone><%= Section.get_content_of(section, "pricing", "productone")%></p>
              <h4 data-preview-productone><%= Section.get_content_of(section, "pricing", "productone")%></h4>
            </div>
          </div>

          <div class="hubbly-small-right d-flex justify-content-center">
            <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
              <p data-preview-producttwo><%= Section.get_content_of(section, "pricing", "productone")%></p>
              <h4 data-preview-producttwo><%= Section.get_content_of(section, "pricing", "productone")%></h4>
            </div>
          </div>
      </div>
  </div>

<!-- Second product div --> 
    
  <div class="product-card text-center">
    <h4 data-preview-producttwo><%= Section.get_content_of(section, "pricing", "producttwo")%></h4>
      <div class="product-pricing d-flex">
          <div class="hubbly-small-left d-flex justify-content-center">
            <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
              <p data-preview-???>Online</p>
              <h4 data-preview-???>20€</h4>
            </div>
          </div>

          <div class="hubbly-small-right d-flex justify-content-center">
            <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
              <p data-preview-???>In person</p>
              <h4 data-preview-???>25€</h4>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- Second product div --> 
<div class="pricing-bottom text-center <%= 'is-hidden' if @section_pricing&.id.nil? %>">
  <p data-preview-policy><%= Section.get_content_of(section, "pricing", "policy")%></p>
  <p data-preview-policy><%= Section.get_content_of(section, "pricing", "policy")%></p>
</div>
