<!-- Pricing top div -->
<div class="<%= 'is-hidden' if @section_pricing&.id.nil? %>" id="preview_pricing">
  <div class="pricing-top d-flex flex-column justify-content-center text-center pt-5">
    <h2>Pricing</h2>
    <h3 data-preview-teaser><%= Section.get_content_of(section, "pricing", "teaser") %></h3>
  </div>

  <!-- Product cards div -->
  <div class="product-cards d-flex">
  <!-- First product div -->
    <div class="product-card text-center">
      <h4 data-preview-product1-type><%= Section.get_content_of(section, "pricing", "product1", "type")%></h4>
        <div class="product-pricing d-flex justify-content-center">
            <div class="hubbly-small-left d-flex justify-content-center">
              <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
            
                <p>Online</p>
                <h4 data-preview-product1-online-price><%= Section.get_content_of(section, "pricing", "product1", "online_price")%></h4>
              </div>
            </div>
 
            <div class="hubbly-small-right d-flex justify-content-center">
              <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
                <p>In person</p>
                <h4 data-preview-product1-offline-price><%= Section.get_content_of(section, "pricing", "product1", "offline_price")%></h4>
              </div>
            </div>
        </div>
    </div>

  <!-- Second product div --> 
      
    <div class="product-card text-center">
      <h4 data-preview-product2-type><%= Section.get_content_of(section, "pricing", "product2", "type")%></h4>
        <div class="product-pricing d-flex">
            <div class="hubbly-small-left d-flex justify-content-center">
              <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
                <p>Online</p>                                                          
                <h4 data-preview-product2-online-price><%= Section.get_content_of(section, "pricing", "product2", "online_price")%></h4>
              </div>
            </div>

            <div class="hubbly-small-right d-flex justify-content-center">
              <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">
                <p>In person</p>
                <h4 data-preview-product2-offline-price><%= Section.get_content_of(section, "pricing", "product2", "offline_price")%></h4>
              </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Second product div --> 
  <ul class="pricing-bottom text-center" data-preview-policy>
    <% Section.get_content_of(section, "pricing", "policy")&.split("\n")&.each do |el| %>
      <li><%= el %></li>
    <% end %>
  </ul>
</div>
