<header class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516534775068-ba3e7458af70?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
    <div class="container d-flex flex-column align-items-center">
      <h1>Find new students & grow your business</h1>
      <p class="my-2">Websites for language teachers</p>
      <div class="mt-2">
        <a class="btn-primary" href="<%= new_website_path %>">Make my free website</a>
        
        <a class="btn-secondary" href="<%= root_path(anchor: "tell_more") %>">Tell me more</a>
      </div>
    </div>
</header>

<section class="hubbly-blue">
  <div class="container d-flex align-items-center">
    <div class="mx-3 w-50">
      <h1 my-5>What is Hubbly?</h1>
      <p>Watch the video to see what we do and how we can help you have a professional website up and running in just 30 minutes. No fuss, no coding and as easy to put together as teaching your students their A, B, C’s!</p>
    </div>
    <div class="ml-3 w-50">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/zRHimYPyRL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
    <span id="tell_more"></span>
</section>

<section class="hubbly-pink">

  <div class="container">

    <h1 class="text-center my-5">Why hubbly ?</h1>
    <div class="cards mt-3">

      <div class="card p-3 text-center">
        <%= image_tag "browser.png", alt: "Why a website" %>
        <h3 class="mt-3">Why a website</h3>
        <p>We know language teachers need to continually find new students to keep their business afloat.</p>
        <a href="">Learn more</a>
      </div>

      <div class="card mx-4 p-3 text-center">
        <%= image_tag "handshake.png", alt: "How we help" %>

        <h3 class="mt-3">How we help</h3>
        <p>Simply just fill out a form with your details, and our expert team will get your website up and running.</p>
        <a href="">Learn more</a>
      </div>

      <div class="card p-3 text-center">
        <%= image_tag "star.png", alt: "Why choose us" %>
        <h3 class="mt-3">Why choose us</h3>
        <p>There is no learning how to code, working out UX/UI design, paying for web hosting etc… Just your own!</p>
        <a href="">Learn more</a>
      </div>

    </div>
    <div>
      <h1 class="text-center mt-5">What will my website look like?</h1>
      <h3 class="text-center my-3">Pick your favourite style from our templates below</h3>
      <p class="text-center mb-5">Our websites use the best UI/UX design to help you achieve the highest possible conversion rate and book new students</p>
      <div class="cards-scrolls justify-content-between">

      <% @websites.each do |website| %>
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)), url(<%= cl_image_path website.photo.key, height: 300, crop: :fill %>);">
          <span class="tag"><%= website.name %></span>
        </div>
      <% end %>

      </div>
    </div>
  </div>
  <span id="pricing"></span>
</section>

<div class="container pt-5">
  <h2 class="text-center mt-5">Choose Your Plan</h2>

  <div class="cards mt-3 justify-content-center">
    <div class="card basic-plan mt-5">

      <div class="card-category">
        <div class="d-flex flex-column align-items-center">
          <h3 >Basic</h3>
          <h5>$100</h5>
        </div>
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
          <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#E5F6FE;"></path>
        </svg>
        </div>
        <div class="px-3 card-content">
          <p>Basic domain name</p>
          <p>Website hosting for 1st year</p>
          <p>SSL security certificate</p>
          <p>Choice of website design theme</p>
          <p>Links to social media accounts</p>
        </div>
      </div>

      <div class="card standard-plan">
        <div class="card-category">
          <div class="d-flex flex-column align-items-center">
            <h3 >Standard</h3>
            <h5>$150</h5>
          </div>
          <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#E45A98;"></path>
          </svg>
        </div>
        <div class="px-3 card-content">
          <p>Basic domain name</p>
          <p>Website hosting for 1st year</p>
          <p>SSL security certificate</p>
          <p>Choice of website design theme</p>
          <p>Links to social media accounts</p>
        </div>
      </div>

      <div class="card premium-plan mt-5">
        <div class="card-category">
          <div class="d-flex flex-column align-items-center">
            <h3 >Premium</h3>
            <h5>$200</h5>
          </div>
          <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#EDDBFF;"></path>
          </svg>
        </div>
        <div class="px-3 card-content">
          <p>Basic domain name</p>
          <p>Website hosting for 1st year</p>
          <p>SSL security certificate</p>
          <p>Choice of website design theme</p>
          <p>Links to social media accounts</p>
        </div>
      </div>

  </div>
</div>
