<!DOCTYPE html>
<html>
  <head>
    <title><%= @website.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="kids-template">

<%# HEADER HERO %>
    <%= render 'sections/hero', section: @website&.section_named("hero") %>

<%# BIO %>
    <div class="container">
      <%= render 'sections/bio', section: @website&.section_named("bio") %>

<%# CATCHY_INFO %>
    <div class="d-flex pt-5">
      <div class="catchy-info-left">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YAVj0p87jMo<%#= section.elements.find_by(category: :video).youtube_vid_id() %>"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <%#= @website&.section_named("catchy")&.element_named("Profile Video") %>
      </div>
      
      <div class="catchy-info-right d-flex flex-column justify-content-center pl-5">
        <%#= @website&.section_named("catchy")&.element_named("One") %>
        <%#= @website&.section_named("catchy")&.element_named("Two") %>
        <%#= @website&.section_named("catchy")&.element_named("Three") %>
        <%#= @website&.section_named("catchy")&.element_named("Four") %>
        <%#= @website&.section_named("catchy")&.element_named("Five") %>
        <%#= @website&.section_named("catchy")&.element_named("subtitle") %>
        <p>* Teacher for 10+ years</p>
        <p>* Native English speaker</p>
        <p>* British accent</p>
        <p>* CELTA Oxford qualified</p>
        <p>* Barcelona based</p>
      </div>
    </div>

<%# CALENDAR %>
    <%= render 'sections/bio', section: @website&.section_named("bio") %>

<%#= PRICING %>

      <div class="pricing-top d-flex flex-column justify-content-center text-center pt-5">
        <%#= @website&.section_named("price_info")&.element_named("title") %>
        <%#= @website&.section_named("price_info")&.element_named("teaser") %>
       
        <h2>Pricing</h2>
        <h3>Book 10+ hours and get 5% off</h3>
      </div>


      <div class="product-cards d-flex">
      
<%#= FIRST PRODUCT ONE-TO-ONE CLASSES %>
        <div class="product-card text-center">
        <%#= @website&.section_named("price_info")&.element_named("Product") ???????? how does this work???? value: "{type: 'one 2 one', offline_price: '20 Eur', online_price: '10 Eur' }" %>
          <h4>One-to-one</h4>
            <div class="product-pricing d-flex justify-content-center">
                <div class="hubbly-small-left d-flex justify-content-center">
                  <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">  
                    <p>Online</p>
                    <h4>15€</h4>
                  </div>
                </div>

                <div class="hubbly-small-right d-flex justify-content-center">
                  <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">  
                    <p>In person</p>
                    <h4>25€</h4>
                  </div>
                </div>
            </div>
        </div>

<%#= SECOND PRODUCT EXAM PREP CLASSES %>
        <div class="product-card text-center">
        <%#= @website&.section_named("price_info")&.element_named("Product") ???????? how does this work???? value: "{type: 'one 2 one', offline_price: '20 Eur', online_price: '10 Eur' }" %>
          <h4>Exam prep classes</h4>
            <div class="product-pricing d-flex">
                <div class="hubbly-small-left d-flex justify-content-center">
                  <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">  
                    <p>Online</p>
                    <h4>20€</h4>
                  </div>
                </div>

                <div class="hubbly-small-right d-flex justify-content-center">
                  <div class="pricing-hubbly-content d-flex flex-column justify-content-center text-center">  
                    <p>In person</p>
                    <h4>25€</h4>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <div class="pricing-bottom text-center">
      <%#= @website&.section_named("price_info")&.element_named("policy") %>           
        <p>Group classes are for a max of 2 students online and 6 students in person</p>
        <p>All prices are quoted per student per hour</p>
      </div>

    </div><%#= THIS CLOSES THE "CONTAINER" CLASS %>
  </body>
</html>
