<!DOCTYPE html>
<html>
  <head>
    <title><%= @website.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="kids-template">

<%# HEADER HERO %>
    <%= render 'sections/hero', section: @website&.section_named("hero") %>

<%# BIO %>
    <div class="container">
      <%= render 'sections/bio', section: @website&.section_named("bio") %>

<%# CATCHY_INFO %>

      <%= render 'sections/catchy', section: @website&.section_named("catchy") %>

<%# CALENDAR %>
      <%= render 'sections/calendar', section: @website&.section_named("calendar") %>

<%#= PRICING %>

      <%= render 'sections/pricing', section: @website&.section_named("pricing") %>

<%#= CONTACT %>

      <%= render "sections/contact", section: @website.section_named("contact") %>
    
    </div><%#= THIS CLOSES THE "CONTAINER" CLASS %>

  <%# CONTACT %>
    <%= render 'sections/contact', section: @website&.section_named("contact") %>
  </body>
</html>
